.recommended{
    flex-basis: 30%;
}
.side-video{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 10px;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}

@media (max-width:1000px) {
    .recommended{
        flex-basis: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .side-video{
        display: flex;
        flex-direction: column;
    }
    .side-video img{
        flex-basis: 100%;
        width: 100%;
    }

}

@media (max-width:900px) {
    .recommended{
        flex-basis: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    .side-video{
        display:flex;
        flex-direction: column;
    }  
    .side-video img{
        flex-basis: 100%;
        width: 100%;
    }
}
@media (max-width:600px) {
    .recommended{
        flex-basis: 100%;
        display: grid;
        grid-template-columns: 1fr;
    } 
    .side-video{
        display: flex;
        flex-direction: column;
    }
    .side-video img{
        flex-basis: 100%;
        width: 100%;
    }
}
